
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
div.esri-component.esri-legend.esri-widget.esri-widget--panel {
  max-width: 220px;
  max-height: 500px;
}
.esri-layer-list {
  max-width: 250px;
}


#ZoomWidget {
  padding: 10px;
  top: 0 ;
  right : 0;
}

html,
body {
  background-color: burlywood;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  padding: 0;
}

.viewDiv {
  height: 100%;
  width: 100%;
}
